body{
  background-color: #ccc;
}


#row_1{
  padding-top: 1%;
}

#calculadora_img{
    width: 100%;
    height: 80%;
}

#Button_user{
  text-align: right;
}

#formContent{
  width: 70%;
  margin-left: 15%;
}
